{% extends "base.html" %}
{% import "utils.html" as utils %}

{% block content %}
    <div class="page-header">
        <h3>{{ case_id }} <small>{{ cust_id }}</small></h3>
    </div>

    {% for sample in samples %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ sample.id }} <small>{{ sample.name }}</small></h3>
            </div>
            <div class="panel-body">{{ utils.sample_row(sample) }}</div>
        </div>
    {% endfor %}
{% endblock %}
